KAFKA_CONTROLLER_PASSWORD={kafka_controller_password}
KAFKA_CLIENT_USER={kafka_client_user}
KAFKA_CLIENT_PASSWORD={kafka_client_password}
KAFKA_INTERNAL_PORT=9092
KAFKA_CLIENT_LOCAL_PORT=9143
KAFKA_UI_PORT=8540